@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background-color: rgb(214, 207, 207);
}

#koleje {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
